profiles {

  standard {
    process.executor = 'local'
    process.cpus = 8
    process.memory = '32 GB'
  }

  docker {
    docker.enabled = true
    process.executor = 'local'
    docker.runOptions = '-u $(id -u):$(id -g)'
    process.cpus = 8
    process.memory = '32 GB'
  }

  hpc {
    process.executor = 'slurm'
    process.queue = 'compute'
    process.cpus = 16
    process.memory = '64 GB'
    process.time = '24h'
  }
}

docker {
  enabled = true
  autoMounts = true
}

process {
  withName: PREPROCESS {
    cpus = 4
    memory = '8 GB'
  }

  withName: ALIGN {
    cpus = 8
    memory = '32 GB'
    time = '12h'
  }

  withName: QUANT {
    cpus = 4
    memory = '8 GB'
  }

  withName: DE {
    cpus = 2
    memory = '4 GB'
  }

  withName: PLOT {
    cpus = 2
    memory = '4 GB'
  }
}

timeline {
  enabled = true
  file = "ngsgenai_timeline.html"
}

report {
  enabled = true
  file = "ngsgenai_report.html"
}

trace {
  enabled = true
  file = "ngsgenai_trace.txt"
}
